fastapi
uvicorn
selenium
webdriver-manager
python-dotenv
celery
redis
sqlalchemy
asyncpg
psycopg2-binary
aiohttp
requests
fpdf2
fastapi-cache2
beautifulsoup4
pydantic
pydantic-settings
greenlet
clickhouse-connect
pandas
prophet
holidays
numpy
scipy
sentence-transformers
scikit-learn
plotly
matplotlib
httpx
aiodns